
@{

    // Layout = null;

    string tt = "hhhhhhh";


   











}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="main.css" rel="stylesheet" />
"
    <title></title>
</head>
<body>
    <div>
        <div id="tab/one">@tt</div>
        <div id="tab/two">mmmmmmm</div>
        <div id="tab/three">jjjjjj</div>

    </div>
    jhkjhkjhjkhjkhkjhkjhkjhkjhkjhjkhkjhkjh
</body>
</html>
