
@using Npgsql;
@using Npgsql.EntityFrameworkCore.PostgreSQL.Design
@using System.Configuration;
@using System.Globalization;


@{


    if (IsPost) // Если входящий запрос
    {
        // Разобрать запрос. Присвоить значения переменным

        string email = Request.Form["email"];
        string trademark = Request.Form["trademark"];
        string city = Request.Form["city"];
        string dep = Request.Form["dep"];
        string lastname = Request.Form["lastName"];
        string firstname = Request.Form["firstName"];
        string otch = Request.Form["otch"];
        string dolz = Request.Form["dolz"];

        string opsl = Request.Form["opsl"];

        string urtver = Request.Form["ver"];


        NpgsqlConnection con = new NpgsqlConnection();

        con.ConnectionString = "Server = 127.0.0.1; Port = 5433; Database = sup; User Id = postgres; Password =12345";

        try
        {
            con.Open();

            NpgsqlCommand com = con.CreateCommand();
            com.CommandText = "select * from users";

            NpgsqlDataReader reader = com.ExecuteReader();


           

        }
        catch
        {


        }

        <text>
            <br> You entered: <br />
            <br> emai: @email <br />
            <br> mark: @trademark <br />
            <br> city: @city <br />
            <br> dep: @dep <br />
            <br>фамилия: @lastname <br />
            <br>имя: @firstname <br />
            <br>отчество: @otch <br />
            <br> dolz: @dolz <br />
            <br>случай: @opsl <br />

        </text>

    }



}


                }

































































































































































































































































                >



























































                </form>

                </body>
                </html>
