@using Npgsql;
@using Npgsql.EntityFrameworkCore.PostgreSQL.Design
@using System.Globalization;

@using System.Configuration;
@using System.Diagnostics;
@using System.Management.Automation;
@using System.Web;
@using System.Net.Mail;
@using System.Net.Mime;
@using System.Threading;
@using System.ComponentModel;
@using System.Text;


@{

    <link rel="stylesheet" href="main.css">


    if (IsPost) // Если входящий запрос
    {
        // Разобрать запрос. Присвоить значения переменным




        string email =Request.Form["email"];
        string trademark =Request.Form["trademark"];
        string city =Request.Form["city"];
        string dep = Request.Form["dep"];
        string lastname =Request.Form["lastName"];
        string firstname =Request.Form["firstName"];
        string otch = Request.Form["otch"];
        string dolz =Request.Form["dolz"];
        string ver = Request.Form["ver"];

        string opsl =Request.Form["opsl"];
        string katsl = Request.Form["ver"];
        string tnumb = Request.Form["tnumb"];


        ConnectionStringSettings constr;
        constr = ConfigurationManager.ConnectionStrings["con"];


        NpgsqlConnection con = new NpgsqlConnection();

        //con.ConnectionString = constr[0];


        con.ConnectionString = constr.ToString();

        //"Server = 127.0.0.1; Port = 5433; Database = sup; User Id = postgres; Password =12345";

        try
        {
            con.Open();
            int num;
            int numbn;
            NpgsqlCommand com = con.CreateCommand();
            com.CommandText = "select max(id) from req";
            object numb1 = com.ExecuteScalar();
            try
            {
                num = Convert.ToInt16(numb1);
            }

            catch
            {
                num = 0;
            }

            numbn = num + 1;
            DateTime dt = DateTime.Now;

            string[] dats = dt.GetDateTimeFormats();



            string dattim = dats[46].ToString().Trim();
            string[] dat = dattim.Split(' ');
            string dt1 = dat[0].ToString().Trim();
            string tim = dat[1].ToString().Trim();

            string[] date1 = dt1.Split('-');

            string yer = date1[0].ToString().Trim();



            com.CommandText = "insert into req (id, email, trademark, city, dep, firstname, lastname, otch, dolz, opsl,dat,tim,tnumb,urtver,yr,status)" + " " +
        "values" + " " + "(" + numbn.ToString() + "," + "'" + email + "'" + "," + "'" + trademark + "'" + "," + "'" + city + "'" + "," + "'" + dep + "'" + "," + "'" + firstname + "'" + "," +
        "'" + lastname + "'" + "," + "'" + otch + "'" + "," + "'" + dolz + "'" + "," + "'" + opsl + "'" + "," + " TO_DATE (" + "'" + dt1 + "'" + "," + "'YYYY-MM-DD'" + ")" + "," + "LOCALTIME" + "," + "'" + tnumb + "'" + "," + "'" + ver + "'" + "," + "'" + yer + "'" + "," + "'" + "В работе" + "'" + ")";
            // TO_TIME ('08:30 AM', 'HH:MI AM')1

            com.ExecuteScalar();


         //   var msg = new MailMessage(from, to, subj, body);
           // var smtpClient = new SmtpClient("smtp.yandex.ru", 25);
            //smtpClient.Credentials = new NetworkCredential(username, pwd);
            //smtpClient.EnableSsl = true;
            ///smtpClient.Send(msg);

















            //            MailMessage mail = new MailMessage();
            //          mail.From = new MailAddress("avsemykin2016@yandex.ru", "АВ");
            //          mail.To.Add(new MailAddress("avsemykin2016@yandex.ru"));

            //     mail.Body = "jjjjjjjj";



            //     var smtpClient = new SmtpClient("smtp.yandex.ru", 465);
            //   smtpClient.Credentials = new NetworkCredential("avsemykin2016@yandex.ru", "avs0187");

            // smtpClient.Host = "smtp.yandex.ru";

            //smtpClient.EnableSsl = true;
            //smtpClient.Credentials = new NetworkCredential("avsemykin2016@yandex.ru", "avs0187"); // Ваши логин и пароль

            //             smtpClient.DeliveryMethod = SmtpDeliveryMethod.Network;


            // smtpClient.UseDefaultCredentials = true; // uncomment if you don't want to use the network credentials

            //Setting From , To and CC


            // smtpClient.Send(mail);


            //mail.Body = "kkkkkkkkkkk";







        }
        // логин и пароль

        //smtp.EnableSsl = true;




        //       com.CommandText= "insert into req(id, email, trademark, city, dep, firstname, lastname, otch, dolz, opsl, katsl)"+
        //"values("+ id+","+"'"+ " +','              +''     ', 'Sankt-Petersburg', 'ul Dybenko', 'Maria', 'Ivanova', 'Ivanovna', 'BC', 'Lost password', 'Restore password');

        catch
        {
            //hhhh

        }

    }






    <text>

        Благодарим за информацию. Обязательно проинформируем Вас о результатах отработки обращения

    </text>

    <p align="center">

        <input type="button" class="butt" name="back" value="На главную " onclick="document.location='Default.aspx'" />
    </p>

}







                </form>

                </body>
                </html>
