@using Npgsql;
@using Npgsql.EntityFrameworkCore.PostgreSQL.Design;
@using System.Globalization;
@using System.Configuration;
@using System.Diagnostics;
@using System.Management.Automation;
@using System.Web;
@using System.Threading;
@using System.ComponentModel;
@using System.Text;
@using System.Net;
@using MailKit.Net.Smtp;
@using MailKit;
@using MimeKit;
@using System.Web;
@using System.Net;
@using System.IO;
@using System.Collections;
@using System.Collections.Generic;
@using System.Collections.Specialized;
@using System.Reflection;
@using System.Runtime.CompilerServices;
@using System.Web;

@{

    <link rel="stylesheet" href="main.css">


    if (IsPost) // Если входящий запрос
    {
        // Разобрать запрос. Присвоить значения переменным




        string email = Request.Form["email"];
        string trademark = Request.Form["trademark"];
        string city = Request.Form["city"];
        string dep = Request.Form["dep"];
        string lastname = Request.Form["lastName"];
        string firstname = Request.Form["firstName"];
        string otch = Request.Form["otch"];
        string dolz = Request.Form["dolz"];
        string opsl = Request.Form["opsl"];
        HttpFileCollectionBase fil = this.Request.Files;
        string[] fn = fil.AllKeys;  // This will get names of all files into a string array.
        DateTime dt = DateTime.Now;
        int numobr = 0;
        // Номер обращения. Считаем как Всего обращений за день +1 
        ConnectionStringSettings constr;
        constr = ConfigurationManager.ConnectionStrings["con"];



        NpgsqlConnection con = new NpgsqlConnection();

        ///con.ConnectionString = constr[0]


        con.ConnectionString = constr.ToString();
        try
        {
            con.Open();
            NpgsqlCommand com = con.CreateCommand();
            com.CommandText = "select count(*) from req";
            object numb0 = com.ExecuteScalar();
            int numzap = Convert.ToInt32(numb0.ToString());

        }

        catch
        {

        }
        //









        string fd = Convert.ToString(dt);
        string[] md=fd.Split(' ');
        int i = 0;
        numobr = numobr + 1;
        foreach (string filkey in fil)

        {


            var file = this.Request.Files[i] as HttpPostedFileBase;
            file.SaveAs(@"e:"+@"\"+Convert.ToString(md[0])+""+"_"+ Convert.ToString(numobr)+"_"+Convert.ToString(i)+".jpg"); //доделать форму чтобы файлы отправлялись 
            i= i + 1;

        }



        //дата и время

        //string[] dat = dattim.Split(' ');



        //




        string ver = Request.Form["ver"];


        string katsl = Request.Form["ver"];
        string tnumb = Request.Form["tnumb"];
        string from = "";
        string to = "";
        string subj = "";
        string body = "";





        string[] date1 = dt.ToString().Split('-');

        string yer = date1[0].ToString().Trim();

        constr = ConfigurationManager.ConnectionStrings["con"];

        con = new NpgsqlConnection();

        ///con.ConnectionString = constr[0]


        con.ConnectionString = constr.ToString();

        //"Server = 127.0.0.1; Port = 5433; Database = sup; User Id = postgres; Password =12345";

        try
        {
            con.Open();
            int num;
            int numbn;
            NpgsqlCommand com = con.CreateCommand();
            com.CommandText = "select max(id) from req";
            object numb1 = com.ExecuteScalar();
            try
            {
                num = Convert.ToInt16(numb1);
            }

            catch
            {
                num = 0;
            }

            numbn = num + 1;






            com.CommandText = "insert into req (id, email, trademark, city, dep, firstname, lastname, otch, dolz, opsl,dat,tim,tnumb,urtver,yr,status)" + " " +
        "values" + " " + "(" + numbn.ToString() + "," + "'" + email + "'" + "," + "'" + trademark + "'" + "," + "'" + city + "'" + "," + "'" + dep + "'" + "," + "'" + firstname + "'" + "," +
        "'" + lastname + "'" + "," + "'" + otch + "'" + "," + "'" + dolz + "'" + "," + "'" + opsl + "'" + "," + " TO_DATE (" + "'" + dt + "'" + "," + "'YYYY-MM-DD'" + ")" + "," + "LOCALTIME" + "," + "'" + tnumb + "'" + "," + "'" + ver + "'" + "," + "'" + yer + "'" + "," + "'" + "В работе" + "'" + ")";
            // TO_TIME ('08:30 AM', 'HH:MI AM')1

            com.ExecuteScalar();

            from = "avsemykin2016@yandex.ru";
            to = "avsemykin2016@yandex.ru";





            //smtpClient.EnableSsl = true;
            ///smtpClient.Send(msg);

            NetworkCredential nk = new System.Net.NetworkCredential();

            bool enableSsl = true;
            nk.Domain = "yandex.ru";
            nk.UserName = "avsemykin2016";
            nk.Password = "avs0187";
            int SmtpPort = 465;
            string SmtpServer = "smtp.yandex.com";
            string MailTitle = "";
            string SenderMail;
            string senderName = "Техническая поддержка";
            string recipientEmail;

            string mailBody = "";
            string recipient1 = "";
            string recipientName = "mmmmmmmm";

            SmtpClient smtp = new SmtpClient();


            senderName = "ggggg";






            // обработка почты новая процедура

            var emailMessage = new MimeMessage();

            emailMessage.From.Add(new MailboxAddress("Администрация сайта", from));
            emailMessage.To.Add(new MailboxAddress("jjjj", to));
            emailMessage.Subject = "kkkkkkkkk";
            emailMessage.Body = new TextPart(MimeKit.Text.TextFormat.Html);

            var message = new MimeKit.MimeMessage();
            message.From.Add(new MimeKit.MailboxAddress("from_name", from)); // replace from_name with real name
            message.To.Add(new MimeKit.MailboxAddress("to_name", to)); // replace to_name with real name
            message.Subject = "This is an email";
            message.Body = new MimeKit.TextPart("plain")
            {
                Text = @"This is from MailKit.Net.Smtp using C sharp with SMTP authentication."
            };



            using (var client = new SmtpClient())
            {

                client.Connect("smtp.yandex.ru", 465, true);


                try
                {
                    client.Authenticate("avsemykin2016@yandex.ru", "avs0187");
                }
                catch
                {

                }



                client.Send(emailMessage);

                client.Disconnect(true);
            }










            //            MailMessage mail = new MailMessage();
            //          mail.From = new MailAddress("avsemykin2016@yandex.ru", "АВ");
            //          mail.To.Add(new MailAddress("avsemykin2016@yandex.ru"));

            //     mail.Body = "jjjjjjjj";



            //     var smtpClient = new SmtpClient("smtp.yandex.ru", 465);
            //   smtpClient.Credentials = new NetworkCredential("avsemykin2016@yandex.ru", "avs0187");

            // smtpClient.Host = "smtp.yandex.ru";

            //smtpClient.EnableSsl = true;
            //smtpClient.Credentials = new NetworkCredential("avsemykin2016@yandex.ru", "avs0187"); // Ваши логин и пароль

            //             smtpClient.DeliveryMethod = SmtpDeliveryMethod.Network;


            // smtpClient.UseDefaultCredentials = true; // uncomment if you don't want to use the network credentials

            //Setting From , To and CC


            // smtpClient.Send(mail);


            //mail.Body = "kkkkkkkkkkk";







        }
        // логин и пароль

        //smtp.EnableSsl = true;




        //       com.CommandText= "insert into req(id, email, trademark, city, dep, firstname, lastname, otch, dolz, opsl, katsl)"+
        //"values("+ id+","+"'"+ " +','              +''     ', 'Sankt-Petersburg', 'ul Dybenko', 'Maria', 'Ivanova', 'Ivanovna', 'BC', 'Lost password', 'Restore password');

        catch
        {
            //hhhh

        }

        string zap;



    }






    <text>

        Благодарим за информацию. Обязательно проинформируем Вас о результатах отработки обращения

    </text>

    <p align="center">

        <input type="button" class="butt" name="back" value="На главную " onclick="document.location='Default.aspx'" />
    </p>

}







                </form>

                </body>
                </html>
