
@using Npgsql;
@using Npgsql.EntityFrameworkCore.PostgreSQL.Design
@using System.Configuration;
@using System.Globalization;

@using System.Configuration;
@using System.Diagnostics;
@using System.Management.Automation;
@using System.Web;

@{


    if (IsPost) // Если входящий запрос
    {
        // Разобрать запрос. Присвоить значения переменным

        string email = Request.Form["email"];
        string trademark = Request.Form["trademark"];
        string city = Request.Form["city"];
        string dep = Request.Form["dep"];
        string lastname = Request.Form["lastName"];
        string firstname = Request.Form["firstName"];
        string otch = Request.Form["otch"];
        string dolz = Request.Form["dolz"];
        string ver = Request.Form["ver"];

        string opsl = Request.Form["opsl"];


        string urtver = Request.Form["ver"];


        ConnectionStringSettings constr;
        constr = ConfigurationManager.ConnectionStrings["con"];


        NpgsqlConnection con = new NpgsqlConnection();

        //con.ConnectionString = constr[0];


        con.ConnectionString = constr.ToString();

        //"Server = 127.0.0.1; Port = 5433; Database = sup; User Id = postgres; Password =12345";

        try
        {
            con.Open();

            NpgsqlCommand com = con.CreateCommand();
            com.CommandText = "select * from users";

            NpgsqlDataReader reader = com.ExecuteReader();

            if (reader.HasRows)
            {
                while (reader.Read())
                {
                    string id = reader.GetString(0);
                    string login = reader.GetString(1);
                    string pass = reader.GetString(2);
                    string perm = reader.GetString(3);
                }
            }



        }


        //       com.CommandText= "insert into req(id, email, trademark, city, dep, firstname, lastname, otch, dolz, opsl, katsl)"+
        //"values("+ id+","+"'"+ " +','              +''     ', 'Sankt-Petersburg', 'ul Dybenko', 'Maria', 'Ivanova', 'Ivanovna', 'BC', 'Lost password', 'Restore password');

        catch
        {


        }


        <link rel="stylesheet" href="main.css">

        <text>
            <br> You entered: <br />
            <br> emai: @email <br />
            <br> mark: @trademark <br />
            <br> city: @city <br />
            <br> dep: @dep <br />
            <br>фамилия: @lastname <br />
            <br>имя: @firstname <br />
            <br>отчество: @otch <br />
            <br> dolz: @dolz <br />
            <br>случай: @opsl <br />

        </text>


        <text>
         
Благодарим за информацию. Обязательно проинформируем Вас о результатах отработки обращения 

        </text>





        <p align="center">

            <input type="button" class="butt" name="back" value="На главную " onclick="document.location='Default.aspx'" />
        </p>

    }


}

    }
}










































































































































































































































































                >



























































                </form>

                </body>
                </html>
