@{

    if (IsPost) // Если входящий запрос
    {
        // Разобрать запрос. Присвоить значения переменным

        string email = Request.Form["email"];
        string trademark = Request.Form["trademark"];
        string city = Request.Form["city"];
        string otd = Request.Form["otd"];
        string lastname = Request.Form["lastName"];
        string firstname = Request.Form["firstName"];
        string otc = Request.Form["otc"];
        string opsl = Request.Form["opsl"];




        <text>
            You entered: <br />
            emai: @email <br />
            mark: @trademark <br />
            city: @city <br />
            dep: @otd <br />
             
            </text>

        }
    }


        }

        <!DOCTYPE html>

        <html>
        <head>
            <link rel="stylesheet" href="main.css">
        </head>

        <body>
            <form action="/req1" method="post">
                <ul class="wrapper">

                    <li class="form-row">
                        <label>E-Mail </label>
                        <input name="email" value="" />
                        <p align="right">
                            <input type="submit" class="butt" name="fill" value="Заполнить по e-mail" />
                            {
                            min-height: 3rem;
                            width: 10em;

                            }

                        </p>
                    </li>
                    <li class="form-row">
                        <label>Марка </label>
                        <input name="trademark" value="" />
                    </li>

                    <li class="form-row">
                        <label>Город </label>
                        <input name="city" value="" />
                    </li>

                    <li class="form-row">
                        <label>Подразделение</label>
                        <input name="otd" value="" />
                    </li>
                    <li class="form-row">
                        <label>Фамилия </label>
                        <input name="lastName" />
                    </li>
                    <li class="form-row">

                        <label>Имя</label>
                        <input name="firstName" />
                    </li>

                    <li class="form-row">

                        <label>Отчество </label>
                        <input name="otch" />
                    </li>

                    <li class="form-row">

                        <label>Краткое описание случая</label>
                        <input name="opsl" />
                    </li>
                    <pre> 
            <!-- HTML !-->
<p align="center">
<input type="submit" class="butt" name="send" value="Отправить запрос" />

<p align="center">
<input type="submit" class="butt" name="back" value="На главную" />



>



























































            </form>

        </body>
    </html>
