@using Npgsql;
@using Npgsql.EntityFrameworkCore.PostgreSQL.Design
@using System.Configuration;
@using System.Globalization;
@using System.Configuration;
@using System.Diagnostics;
@using System.Management.Automation;
@using System.Web;
@using System.Net.Mail;
@using System.Net.Mime;
@using System.Threading;
@using System.ComponentModel;



@{
    


}



















<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    </div>
</body>
</html>
